<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" 
      type="image/png" 
      href="./../static/pages/images/icon.png" />
		<title>{% block title %} 
			{% endblock %}</title>
		<style>
		
		</style>
		{% block css %}
		
		{% endblock%}
	</head>
	<body>
		<div id="header">
			<div>
				<div class="logo">
					<a href="/index"></a>
				</div>
				<ul id="navigation">
					<li class="active">
						<a href="/index">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/activities">Activities</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/ps">Problems</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		
		<section>
				{% block content %}
				{% endblock %}

				<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'iesnith';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

		</section>
		
		<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="https://www.facebook.com/iesnith" target="_blank" class="facebook">
				</a><a href="/" target="_blank" class="googleplus"></a>
				<a href="https://twitter.com/ecoinn_nith" target="_blank" class="twitter"></a>
				<a href="/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2015 Innovation Ecosystem National Institute Of Technology Hamirpur. All Rights Reserved.
			</p>
		</div>
	</div>

		
	</body>
</html>
