{% extends "blog/post.html" %}

{% block title %} 
Smart Crop Protection System
{% endblock %}

{% block month %}
06
{% endblock %}

{% block year %}
2015
{% endblock %}

{% block post_title %}
Smart Crop Protection System
{% endblock %}

{% block author_date %}
Prateek Prasher, Arnav Dhiman, Kumar Vishal Rai, June 2015
{% endblock %}

{% block post %}
<h1 style="color: #5c7a99;">1. Introduction</h1>
<p style="text-align: justify;">       The aim of this blog post is to describe the project - <strong>SMART</strong> <strong>CROP PROTECTION SYSTEM</strong>, which aims to address the <strong>problem of crop vandalization by wild animals</strong>. It describes the problems that are faced by our farmers due to wild animal attack on their fields and orchards along with the current solutions and methods that have been adopted to address this problem. It then describes our project proposal and elucidates our method of addressing this problem i.e. how this project can solve this problem. The main aim of this project is to provide <strong>an effective solution to this problem</strong>, so that the <strong>economic losses incurred by our farmers are minimized </strong>and they have a good crop yield.</p>


<hr />

<h1 style="color: #5c7a99;">2. Motivation</h1>
<h2 style="color: #5c7a99;">2.1 Problem description and social impact</h2>
<p style="text-align: justify;">       The problem of<strong> wild animal attacks on crop fields</strong> i.e. <strong>crop vandalization</strong> is becoming a very common phenomenon in the state of <strong>Himachal Pradesh, Punjab, Haryana</strong> and many other states. Wild animals like monkeys, estray animals especially cows and buffaloes, wild dogs, nilgais, bisons, elephants deer, wild pigs and even birds like parakeets cause a lot of damage to crops either by running over them or eating them and vandalizing them completely. This leads to <strong>poor yield of crops</strong>. These animals attack on fruit orchards and destroy the flowerings and fruits. In both cases, this leads to <strong>significant financial loss</strong> to the farmers and orchard owners. The problem is so pronounced that sometimes farmers decide to leave the area barren due to these animal attacks.</p>
<p style="text-align: justify;">       The problem of <strong>monkeys</strong> is especially more pronounced in the hill state of Himachal Pradesh. Groups of wild monkeys attack fields in the <strong>Una District </strong>mainly in the border areas of Himachal Pradesh and Punjab and cause a lot of financial loss to farmers. The scenario is same in <strong>District Shimla,</strong> which is famous for its apple orchards. Monkeys cause a lot of <strong>havoc in the apple orchards</strong> and ultimately lead to financial losses to owners. In District Kangra and Hamirpur, the problem of <strong>estray cows, buffaloes and wild pigs</strong> is more pronounced. Herds of cows attack the fields, destroy the crops and almost render the fields useless for the rest of the season.</p>
<p style="text-align: justify;">       The state of <strong>Kerala</strong> faces similar problems where animals like Asian elephants, wild pigs, Indian crested porcupine, Indian giant squirrel, Indian peafowl and other birds vandalize the crops causing great financial losses. It has been estimated that at minimum conservative average damage per household of <strong>₹ 6,000, 15 million families could suffer a cumulative loss of ₹ 9,000 crore</strong> every year. This is a very huge amount to loose in a country like India.</p>

<h2 style="color: #5c7a99;">2.2 Currently adopted solutions and their disadvantages</h2>
<p style="text-align: justify;">       Currently we have solutions which are almost <strong>ineffective or are very expensive</strong>. They may be effective for one or two animals but they prove to be useless in case large no. of animals. Some of the methods are listed below.</p>

<h3 style="color: #5c7a99;">2.1.1 Physical barriers</h3>
<p style="text-align: justify;">       This is the most ineffective way of protecting the fields. The farmers usually erect wooden logs and bamboo sticks at the borders of their fields. Some even resort to use dried plants and bushes. Clearly this method almost proves to be almost useless as the barriers don't have the required physical strength to withstand animal attacks. Construction of brick walls, although a good method, is very expensive. Thus physical barriers prove to be almost ineffective in protecting fields from the animal attacks.</p>

<h3 style="color: #5c7a99;">2.1.2 Human puppets and effigies</h3>
<p style="text-align: justify;">       This is yet another way in which farmers erect human puppets and effigies in their fields. This method may prove to be helpful in warding off birds but is ineffective against wild animals.</p>

<h3 style="color: #5c7a99;">2.1.3 Electric fences</h3>
<p style="text-align: justify;">       Some frustrated farmers may put up electric fences around their fields. This is illegal and is very dangerous. It may cause fatal injuries to animals and even lead to human causalities due to shock hazards. It also leads to a great wastage of electric power.</p>

<h3 style="color: #5c7a99;">2.1.4 Manual surveillance</h3>
<p style="text-align: justify;">       Farmers also resort to manual surveillance of their fields, which is both time consuming and highly ineffective, as they can't keep an eye on whole of their farm at the same time. Due to this they may hire persons for watching over their fields for whole of the days and nights, which proves to be highly expensive as the persons hired need to be paid full wages.</p>


<hr />

<h1 style="color: #5c7a99;">3. Our project proposal</h1>
<h2 style="color: #5c7a99;">3.1 Project summary</h2>
<p style="text-align: justify;">       This project aims to provide an effective solution to the problem stated above in the form of an <strong>ELECTRONIC SURVEILLANCE SYSTEM</strong>. This system will enable the farmers to protect their fields and orchards effectively, <strong>without any human intervention, </strong>by warding off the animals with <strong>automatically controlled ultrasonic animal repellent buzzers, electronic fireworks and even hooters.</strong> It will also enable them to remotely monitor their fields from any place, thus <strong>eliminating the need of physical presence</strong> of a person in the fields.</p>

<h2 style="color: #5c7a99;">3.2 Project description</h2>
<h3 style="color: #5c7a99;">3.2.1 Components</h3>
<p style="text-align: justify;">       This project is basically an ELECTRONIC SURVEILLANCE SYSTEM, with following major components.</p>

<h4 style="color: #5c7a99;">3.2.1.1 Camera</h4>
<p style="text-align: justify;">       The major component of this system is a camera, which continuously monitors the fields for any animal activities.</p>

<h4 style="color: #5c7a99;">3.2.1.2 Microcomputer</h4>
<p style="text-align: justify;">       This component acts as the brain of the system. Its work is to manage all the components of the system. It is responsible for the processing the video feed from the camera and automatic switching of the buzzers. It will also enable the farmers to monitor their fields remotely.</p>

<h4 style="color: #5c7a99;">3.2.1.3 Ultrasonic buzzer</h4>
<p style="text-align: justify;">       This is also a very critical component of the system. Its work is to ward off the animals from fields. As this is an ultrasonic buzzer, its inaudible to humans but is totally audible to animals. Thus without creating any noise pollution, animals are driven off the fields. As continued use of buzzer might make animals immune to it, the buzzer would be switched on automatically only after animals are detected in the fields, thus avoiding the animals from becoming immune to the buzzer.</p>

<h4 style="color: #5c7a99;">3.2.1.4 Passive Infra Red sensor (PIR)</h4>
<p style="text-align: justify;">       This component is used to provide a higher level of accuracy by assisting the camera. It can also act as a backup sensor in case our camera fails.</p>

<h2 style="color: #5c7a99;">3.2.2 Working of the system</h2>
<h2 style="color: #5c7a99;"><a href="http://summerschool.sristi.org/wp-content/uploads/2015/06/Capture.png"><img src="/static/blog/images/post81.png" alt="CropProtectionSystem" width="547" height="227" /></a></h2>
<p style="text-align: justify;">       The camera and the other components are connected to the microcomputer which is turned on 24x7 for the whole day. The camera continuously monitors the fields and provides the video feed to the microcomputer. Acting as the brain of the system, the microcomputer continuously checks for the motion in the field or orchard. If any kind of motion is detected in the field, the microcomputer checks for the presence of animals in the image. If any animal is found, buzzers are turned on. The system ensures that the alarm is not triggered by the presence of a human in the field, or via any random motion. The system also provides real-time images of the field over the internet, which can be viewed by using a web browser on devices like computer and mobile, and the buzzer can be turned on manually if the need arises (due to the inability of the system to turn the buzzer on automatically for some reason).</p>
&nbsp;
<h3 style="color: #5c7a99;">3.2.3 Merits and features of this system</h3>
This system is very effective and carries following features and merits in comparison to the other solutions that exist in the current time.
<h4 style="color: #5c7a99;">3.2.3.1 Effective, accurate and adaptive</h4>
<p style="text-align: justify;">       This system is very effective in driving off the animals from the fields and keeping them away. It accurately determines the presence of animals in the fields and sounds the buzzer. It does not sound the buzzer due to the presence of a human being or due to some random motion. The ultrasonic buzzer is very effective against animals and causes no noise pollution.</p>
<p style="text-align: justify;">       The system is very adaptive in nature. We are using advanced machine learning techniques in the system. Due to this the system can be trained to detect different types of animals. This feature of the system makes it highly adaptable to the local sites of deployment. For e.g. it can be trained for detecting monkeys at some place, whereas at some other place, it can be trained to detect estray cows, buffaloes, elephants and even birds. Thus the system is not limited to the detection of only particular type of animals. This make it suitable for different areas of our country.</p>

<h4 style="color: #5c7a99;">3.2.3.2 Requires no human supervision</h4>
<p style="text-align: justify;">       This system requires almost no human supervision, except for the task of switching the system on and off. The system is capable of turning the buzzers on automatically and warding off the animals thus protecting the fields from any damage.</p>

<h4 style="color: #5c7a99;">3.2.3.3 Economical</h4>
<p style="text-align: justify;">       This system is economical as compared to many of the existing solutions like electric fences, brick walls and manual supervision of the fields. The cost of the existing solutions is very high and the cost of this system is only a fraction of their cost. Thus it saves a lot of money of the farmer.</p>

<h4 style="color: #5c7a99;">3.2.3.4 Real time monitoring</h4>
<p style="text-align: justify;">       This system works in real time to detect the animals in the fields. The system enables the farmer to have a real time view of his fields from any place via internet and even provides manual buzzer controls if the need arises to use them. Thus the farmer is in effective control of the system and can manually sound the buzzer if needed. The system also provides a history of the events taking place in the fields, in the form of images and textual log records.</p>

<h4 style="color: #5c7a99;">3.2.3.5 Causes no harm to animals and humans</h4>
<p style="text-align: justify;">       This system is totally harmless and doesn't injure animals in any way. It also doesn't cause any harm to humans. Also this system has a very low power requirement thus reducing the hazards of electric shocks.</p>

<h4 style="color: #5c7a99;">3.2.3.6 Highly flexible</h4>
<p style="text-align: justify;">       This system, although primarily aimed at crop protection, can be used for other purposes also. It may be used as a remote monitoring system, or as a standalone system. Thus it can be installed at places like godowns, places prone to robbery, shops, offices etc.</p>


<hr />

<h1 style="color: #5c7a99;">4. Conclusion</h1>
<p style="text-align: justify;">       The problem of crop vandalization by wild animals has become a major social problem in current time. It requires urgent attention as no effective solution exists till date for this problem. Thus this project carries a great social relevance as it aims to address this problem. This project will help farmers in protecting their orchards and fields and save them from significant financial losses and will save them from the unproductive efforts that they endure for the protection their fields. This will also help them in achieving better crop yields thus leading to their economic well being.</p>
<p style="text-align: center;">***************************</p>
{% endblock %}