{% extends "blog/post.html" %}

{% block title %} 
An Education Portal Android App for Students
{% endblock %}

{% block month %}
06
{% endblock %}

{% block year %}
2015
{% endblock %}

{% block post_title %}
An Education Portal Android App for Students
{% endblock %}

{% block author_date %}
Sagar Karira, Sahil Badyal, Himanshu Singh, Divyanshu Maithaini, Akshendra Pratap Singh, Devesh Rohan, Shashi Kumar, June 2015
{% endblock %}

{% block post %}
			<img src="../../static/blog/images/post72.png" alt="Img" height="370" width="210" align="left" hspace="20px" />
				<img src="../../static/blog/images/post73.png" alt="Img" height="370" width="210" align="left" hspace="35px" />
				<img src="../../static/blog/images/post71.png" alt="Img" height="370" width="210" /><br /><br />
			<p align="justify">
				India’s education system is traditional, it has not under gone changes according to the existing technology.At present, the biggest source of knowledge in the world is Internet, whose vast potential has not been realized by our education system.We don't have an online system of information or knowledge exchange.For example, no application provides us with the ability to search local content i.e. books in local languages online.
			</p>
			<p align="justify">
				Today, all over the world, the students are using forums as a way of asking and clearing their doubts.Sadly no such system  exists in India that too in local Indian languages.Hence, we thought of creating a mobile based platform i.e. an android app which can target such problems.
			</p>
			<p align="justify">
				The really interesting thing about this app is that it categorizes the course material for different academic subjects according to different academic levels. The aim for developing such an application is to have a common platform where teachers, aspiring teachers, students, and those stung by the curiosity bug can download education material, and share their own views,experiences, and feedbacks online in local languages.
			</p>
			<p align="justify">
			<b>Features</b><br /></p>
				<ol>
					<li>Localization</li>
						<p align="justify">
						The really interesting thing about this app is that it categorizes the course material for different academic subjects according to different academic levels. The aim for developing such an application is to have a common platform where teachers, aspiring teachers, students, and those stung by the curiosity bug can download education material, and share their own views,experiences, and feedbacks online in local languages.</p>
						<p align="justify">Our main focus of this app is localization, i.e. making the course material written in local languages, available to the students. For example Mathematics in Hindi or Mathematics in Marathi etc. This will undoubtedly improve the availability of courses in native or local languages.</p>
						<p align="=justify">Localization will be of two types :</p>
						<ul>
							<li>Navigational Localization</li>
							<p align="justify">In this type of localization users will be able to navigate through the app in their local languages. They will able to submit their feedback, ideas, ask their doubts in the language of their choice. At present,we are concentrating on following languages (excluding English) in MVP of this app :</p>
							<ul>
								<li>Hindi</li>
								<li>Urdu</li>
								<li>Punjabi</li>
								<li>Telugu</li>
							</ul><br />
							<li>Course-wise Localization</li>
							<p align="justify">It aims at providing the courses written in local languages available to the students. Students will be able to search and select the courses written in local language of their choice. For example NCERT Mathematics for Class 6th is available in various languages like Hindi,Urdu, Marathi, Gujarati etc. Students will easily find the book of their choice though our search bar and our intelligent recommendation system.</p>
						</ul>
						<li>Course Uploading and Sharing</li>
						<p align="justify">This is probably the best feature of this app after localization. Users will be able to upload their courses in local lanuages and then it will be available to the other users once a moderator confirms the validity and quality of course. Also there will be a rating system for the courses where the users can upvote or downvote the course and hence good quality courses will eventually be picked up by our recommendation system. Not only this users will be able to recommend and share courses in the later versions by developing a recommendation system.</p>
						<li>Idea Page Linked with NIF's IGNITE Awards</li>
						<p align="justify">What if any student has an innovative idea ? Well this app has an IDEA page where the user can upload their ideas in any local language. This page will be linked to the Idea Page at NIF's website and hence the idea can be picked up for IGNITE awards.</p>
						<li>Forum for Asking Doubts and Submitting Feedback</li>
						<p align="justify">This app will provide a forum, where the students and teachers can interact for the clarification of doubts and this platform will undoubtedly enhance the education environment of India as a whole.Any teacher/user can reply to the questions put up by the students. This is an essential feature of the app which makes it unique and socially relevent. But in our MVP (Minimum Viable Product) version of this app, this feature will not be fully functional, as our primary concentration is localizatoin. But it will implemented as a fully functional feature in later version.</p>
				</ol>
			<p align="justify">
			<b>Technology Stack</b><br /></p>
				<ul>
					<li>Heruko PAAS for hosting REST API</li>
					<li>Amazon EC2 and S3 Service for App DataStore</li>
					<li>Slim PHP Framework for Datastore</li>
					<li>Silex PHP Framework for building up REST API</li>
					<li>Android SDK</li>
				</ul><br />
			<p align="justify">
			The app is still in development phase. The work will be finished by mid July. Most of the backend work is almost finished. As soon as the app is finished we will be launching the beta version to some of our friends and testers.
			</p>
			
{% endblock %}