	{% extends "blog/base.html" %}

{% block title %}
Post-Innovation Ecosystem 
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/blog/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="contents">
		<div class="post">
			<div class="date">
				<p>
					<span>04</span>
					2015
				</p>
			</div>
			<h1>Auto Thermal Chair<span class="author">Raman Kant April 2015</span></h1>
			<p> 
				<!--<img src="../../static/blog/images/post41.png" alt="Img" height="500" width="750"><br /><br />-->
				In today’s life the work is totally depended on machines and workers have to sit on a chair to command those heavy duty machines for a long time and due to uncomfortability on that chair the workers have to suffer from different problems like back pain, neck pain or survical or spondylitis and has to suffer from those deadl pain for life long period .to solve all these problems of pain , a special type of chair come in light , called as Auto thermal Chair.
			</p>
			<p>
				It is quite eco-friendly and will be available at very valuable price or you can say it is a value for money thing which provides you more features than you expected from this chair because this chair is quite similar in looks as a common chair but contains too much secret  features which  neither can b expected nor can b guessed .It is a quite mysterious chair which is going to solve many problems of human society.
			</p>
			<p>
				When such type of chair with great features will be available in market , no will prefer ordinary chair and in case if any one is having those old ordinary chairs in excess so this feature can b fixed in those chairs too. This implies that from every portion of technology it is going to spread  a boom in the market.
			</p>
			<p>
				During summer sitting on chair causes sweating and resulting in wetting of clothes . where as on other side during winter the cold don’t let a person to sit on a chair  and work for a long time.Due to which many problems are faced but this auto thermal chair  will solve all these problems and will increase the seating time of a particular guy with great comforts  and this chair will be available at the same price relative to that of normal working chair.
			</p>
			
			<span><a href="/blog" class="more">Back to News</a></span>
		</div>
	</div>
	
	{% endblock %}