	{% extends "blog/base.html" %}

{% block title %}
Post-Innovation Ecosystem 
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/blog/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="contents">
		<div class="post">
			<div class="date">
				<p>
					<span>04</span>
					2015
				</p>
			</div>
			<h1>Automatic System to Reduce Power Consumption<span class="author">Parijat Kumar, Yatin Sharma, Roop Singh, Navjot Singh, April 2015</span></h1>
			<p> 
				<!--<img src="../../static/blog/images/post41.png" alt="Img" height="500" width="750"><br /><br />-->
				People usually forget to switch off electrical appliances like lights, fans etc in their homes. Some time they feel lazy to do so if switches are far away. So a lot of energy is wasted in this course. We want to develop an automated electronic circuitry to switch off those electrical appliances by sensing the count of individuals in a room. There are some electrical appliances which are necessary to get switched on when someone enters the room like fan and tube light. And in hostels, tube light and fans are the only two appliances present in every room.
			</p>
			<p>
				So these two appliances can be made to connect with an electronic circuit which automatically switches on/off the fans and tube lights . In this way we save a lot of power which is wasted just due to negligence of people. This device will be operating automatically so one should not to get any training to run that device.
			</p>
			<p>
				<b>Expected Outcomes : </b><br />
1. A good amount of energy saving can be done.<br />
2. Door locks  can be closed or opened or closed from a far distance wirelessly with the help of mobile phones .<br />
3. Home appliances can be controlled automatically without manual switching.<br />
4. By the use of mobile phones people can switch on the devices from very far end. Like you leave for home from office and you can switch on your AC such that your room get pre cooled. Similar thing can be thought for an electric heater.<br />
5. The developed device will  be cheap and will be consuming very less amount of power.<br />
6. It can be helpful to the farmers as well. For switching ON a tubewell in the fields, one has to go to the fields. But with the help this device user can switch on/off the tubewell from the home itself.<br />
7. This device can be installed in malls, seminar halls where many equipments has to be switched on/off simultaneously. 
			</p>
			
			<span><a href="/blog" class="more">Back to Blog</a></span>
		</div>
	</div>
	
	{% endblock %}