{% extends "pages/base.html" %}

{% block title %}
About-Innovation Ecosystem 
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="contents">
		<div id="about">
			<h1>About</h1>
			<h2>What is ECO-INN ?</h2>
			<p align="justify">
				Innovation Ecosystem (ECO-INN) at NIT Hamirpur (HP) is a student coordinated activity, which intends to collectively (through team work) create an atmosphere for working towards developing solutions to real life engineering problems faced by the people belonging to different strata of the society at much affordable prices. It also aims to develop alternative techniques to already existing techniques at meagre rates.

 Working in close coordination with<a href="http://rutag.iitd.ac.in/">RuTAG</a>,<a href="http://nith.ac.in/">NIT Hamirpur</a> and <a href="http://www.sristi.org/">Sristi</a>, problems faced by people are undertaken as a challenge and their solutions are provided for implementation.

An exhibition was organized on 10th- 12th April wherein socially relevant projects completed by volunteers of the ecosystem, were displayed.


			</p>
			<h2>How are we different ?</h2>
			<p align="justify">
				Whatever we do here at innovation ecosystem, we do it voluntarily and it is completely independent of our curricular activities. We aim at providing a co-creation space to the students where they could work on their own projects in interdisciplinary teams and also learn from others at the same time. Here we not only aim at working on problems voluntarily, but also try to provide such solutions which can be implemented directly without any second thoughts.
			</p>
			
		</div>
	</div>
	
{% endblock %}
