{% extends "pages/base.html" %}

{% block title %}
Partners-Innovation Ecosystem 
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}

{% block content %}

<div id="contents">
		<div class="features">
			<h2>Foundation :</h2><br />
			<p align="justify">

<ol>

	<li>Two Students of NIT Hamirpur, Shivam Chawla and Kumar Vishal Rai, represented NIT Hamirpur at Rashtrapti Bhavan in the meeting of innovation Club at festival of Innovation on March 10, 2015.</li>

<li>There they met Prof. Anil Gupta (Vice Chairman NIF), Mr Hiranmay Mahanta (Founder Techpedia),  Mr. Priyank Jain (Founder and Coordinator NIT’I’AN) and interacted with them. With a zeal to solve the problems of society and motivation from these eminet personalities they decided to form innovation ecosystem at NIT Hamirpur.</li>

<li> After reaching college they met Dr. Hemant Kumar Vinayak, Asst Professor, CED, NIT Hamirpur and supporter of Socio Technical projects and decided to form a student independent body which would run in close coordination with RuTAG, NIT Hamirpur and NIT’I’AN.</li>

<li> To make the team these two students Shivam Chawla and Kumar Vishal Rai went in all the classrooms of all the branches and years and told them the necessity of innovation Ecosystem, the motive behind the setting up of NITs in every state but how they are deviating from it and energising them to fill the gap.<br />

<li>       Then through Google forums the details of all the students and alumni, with zeal to solve the problem of the society, were collected.</li>

<li>     Then under supervision of Dr. Hemant Kumar Vinayak and Mr Priyank Jain, Google group of all the members (students and alumni) was created to send weekly mails about the activities of the system so that everyone may be informed about the problems available, ongoing projects so that they may join the project they feel to support and work forward. On 30th March 2015 the Approval for Innovation Ecosystem NIT Hamipur was obtained.</li>

<li>     The Director NIT Hamirpur has provided a room in the central block for its activities whose keys remain with the students only so that they may work there 24X7 whenever they are free.</li>

<li>     As the technical festival of the institute was scheduled from 10-12 April 2015, the team decided to take up some problems, solve them within the limited time to prove the ability of the team so that other students and faculty may believe in the reality and potential of the team.</li>

<li>     Then around 40 problems from RuTAG NIT Hamipur which had come to it from various NGOs  of Himachal were floated amongst the students. Out of which only those problems for which the solution can be provided within 8-9 days were considered.</li>

<li>  Then 8 problems were taken up and successfully solved by various inter departmental teams of the students.</li>

<li>  The funding for the project was done through the institute fund. Dr. Hemant Kumar Vinayak played a key role during all these activities especially funding part.</li>

<li>  Then the projects were displayed for three days 10-12 March 2015 in the central Block of college itself during the technical festival of college.</li>

<li>  After seeing the ability of different students through their work and their motivation for the cause, final team was formed of upgoing final year students (current third year) to take up the various administrative duties of the eco system, innovation action plans for the year 2015-2016. The team comprised of following:</li></li>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finance Team<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Audit Team<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NGOs Team<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Content Creation<br />             
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Media,Website,Publicity,Facebook Team<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start-up Summer Intern Team<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IPR Team.<br /><br />

<li>  The NGO team then collected data of all the NGOs of Himachal Pradesh with annual budget of more than 10 lack rupees so that they are in a situation to implement the solution provided.</li>

<li>  The NGO team of Innovation Ecosystem called 40 such NGOs informed them about innovation ecosystem and asked them for their support in bringing real life problems to be taken up by the students.</li><br />

 

These are some of the activities held at NIT Hamirpur which led to the development of a co-creation space where the Innovation Action Plan 2016 could be launched.
				
			
		</p>	
			</div>
		</div>
	</div>

{% endblock %}
