<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %} 
			{% endblock %}</title>
		<style>
		
		</style>
		{% block css %}
		
		{% endblock%}
	</head>
	<body>
		<div id="header">
			<div>
				<div class="logo">
					<a href="/index">Innovation Ecosystem</a>
				</div>
				<ul id="navigation">
					<li class="active">
						<a href="/index">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/activities">Activities</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/ps">Projects</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		
		<section>
				{% block content %}
				{% endblock %}
		</section>
		
		<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="https://www.facebook.com/iesnith" target="_blank" class="facebook"></a>
				<a href="/index" target="_blank" class="googleplus">
				</a><a href="/index" target="_blank" class="twitter"></a>
				<a href="/index" target="_blank" class="tumbler"></a>
			</div>
			<p>
			
				© 2015 Innovation Ecosystem National Institute Of Technology Hamirpur. All Rights Reserved.
				
			</p>
		</div>
	</div>

		
	</body>
</html>
