{% extends "pages/base.html" %}

{% block title %}
Sign up for Beta Testing
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="adbox">
		<div class="clearfix">
			<img src="../../static/pages/images/box.png" alt="Img" height="342" width="368">
			<div>
				<h1>Ideas?</h1>
				<h2>That's what we live for.</h2>

				<p>
					 Be Part of Our Community
					<br /><br />
				If you ever thought of making a difference, this is a platform for you. </p><br /><span><a href="/join" class="btn">Join Us Now!</a><br /><br /><b> Your Idea... Your Design...</b></span>
				</p>
			</div>
		</div>
	</div>
	<div id="contents">
		<div id="tagline" class="clearfix">
			<h1>Announcement</h1>
			<div>
				<p>
				We are happy to announce that our summer startup project <a href="/post7#disqus_thread"><strong>Education Mobile App</strong></a> is ready for Beta testing.So do you want to try it before anyone else??<br />Here is a chance.</p>
				<p> Sign up for its beta testing here.</p>
				<p> Know more about this app <a href="/post9#disqus_thread">here</p>
			</div>
			<div>
				<span><a href="/signup" class="btn">Sign up Now!</a><br /><br /><b>Suit up! Help us improving this app</b></span>
			</div>

		</div>
	</div>
{% endblock %}
