
{% extends "pages/base.html" %}

{% block title %}
Innovation Ecosystem Website
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="adbox">
		<div class="clearfix">
			<img src="../../static/pages/images/box.png" alt="Img" height="342" width="368">
			<div>
				<h1>Ideas?</h1>
				<h2>That's what we live for.</h2>

				<p>
					 Be Part of Our Community
					<br /><br />
				If you ever thought of making a difference, this is a platform for you.&nbsp;Join us or submit a problem statement</p><br /><span><a href="/join" class="btn">Join Us Now!</a><br /><br /><a href="/submit_a_problem" class="btn">Submit a Problem</a><br /><br /><b> Your Idea... Your Design...</b></span>
				</p>
			</div>
		</div>
	</div><br /><br />
	<div id="contents">
		<div id="tagline" class="clearfix">
			<h1>Observe Think Design Repeat</h1>
			<div>
				<p>
					Observe your environment. Can there be an easier solution for any problem?
				</p>
				<p>
					Sensitize yourself with the problems around you.
				</p>
				<p>
					Think of possible solutions. Analyse and rethink untill you are satisfied.
				</p>
			</div>
			<div>
				<p>
					Design your solution optimally. Get required funding and use the resources properly.
				</p>
				<p>
					Keep iterating untill your prototype is ready to be fabricated.
				</p>
				<p>
					We always think of making a difference. This is your chance,make best out of it.
				</p>


			</div>

		</div>
	</div>


{% endblock %}
