{% extends "pages/base.html" %}

{% block title %}
Join- Innovation Ecosystem
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="contents">
		<div class="section">
			<h1 align="center">Join us</h1>
			<p>
				If you want to be a part of this ecosystem, please fill in this form. We will surely assist you in all the ways we can.
			</p>
			<form action="/join" method="post" class="message">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="fieldWrapper">
    			{{ form.first_name.errors }}
    			<label for="{{ form.first_name.id_for_label }}"></label>
    			<input type="text" id="first_name" name="first_name"  placeholder="First Name">
				</div><br />
				<div class="fieldWrapper">
    			{{ form.last_name.errors }}
    			<label for="{{ form.last_name.id_for_label }}"></label>
    			<input type="text" id="last_name" name="last_name"  placeholder="Last Name">
				</div><br />
				<div>
				{{ form.rollno.errors }}
  				 <label for="{{ form.rollno.id_for_label }}" ></label>
   			     <input type="text" id="rollno" name="rollno"  placeholder="Roll no">
				</div><br />
				<div class="fieldWrapper">
    			{{ form.branch.errors }}
    			<label for="{{ form.branch.id_for_label }}"></label>
    			<input type="text" id="branch" name="branch"  placeholder="Branch">
				</div><br />
				<div class="fieldWrapper">
   				 {{ form.message.errors }}
   				 <label for="{{ form.message.id_for_label }}">Tell us something about yourself</label>
   				 {{ form.message }}
				</div>
				<div>
				{{ form.mobno.errors }}
  				 <label for="{{ form.mobno.id_for_label }}" ></label>
   			     <input type="text" id="mobno" name="mobno"  placeholder="Mobile">
				</div><br />
				<div class="fieldWrapper">
    			{{ form.email.errors }}
    			<label for="{{ form.email.id_for_label }}"></label>
    			<input type="text" id="email" name="email"  placeholder="Email">
				</div><br />
				<div class="fieldWrapper">
   				 {{ form.captcha.errors }}
   				 <label for="{{ form.captcha.id_for_label }}"></label>
   				 {{ form.captcha }}
				</div><br />
				<input type="submit" value="Submit"/>
			</form>
		</div>
		<div class="section contact">
			<p>
			   For further details or any query <a href="/contact"> Contact us</a>
			</p>
			<p>
				Or you can visit us at: <span>Innovation Ecosystem<br><span>Ground Floor, Central Block (Opp. Admin Block), NIT Hamirpur, HP-177005</span>
			</p>
		</div>-
	</div>

{% endblock %}
