
{% extends "pages/base.html" %}

{% block title %}
About-Innovation Ecosystem 
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="contents">
		<div id="about">
			<h1>Current Problem Statements </h1>
			<h2>Educational App Development</h2>
			<p>
				A dedicated team of CSE students  are designing a mobile-based platform that categorizes the course material for different academic subjects according to different academic levels. The aim for developing such an application is to have a common platform where teachers, aspiring teachers, students, and those stung by the curiosity bug can download education material, and share their own views, experiences, and feedbacks online in local languages.
			</p>
			<h2>Internet based security system for Crop Protection</h2>
			<p>
				This is a joint project of ECE and CSE students who aim at providing  a solution for crop protection for farmers.Animal attack on crops is one of the major problem faced by farmers. These attacks mainly by monkeys and cows cause a lot of loss to the farmers. The existing solution are mainly Electric fence, ultrasonic buzzers or there is a person present in the farms. These are not much effective. We propose an electronic system to safeguard the farms from animals. It will remove the need of fencing and persons to be present at the farms.
			</p>
			<!--<h2>Be Part of Our Community</h2>
			<p>
				If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests with you.
			</p>
			<h2>Template details</h2>
			<p>
				Design version 9<br> Code version 3<br> Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/discuss/zerotype/">Zerotype Website Template</a>.<br> Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>.<br> Please feel free to remove some or all the text and links of this page and replace it with your own About content.
			</p>-->
		</div>
	</div>
	
{% endblock %}
