{% extends "pages/base.html" %}

{% block title %}
Sign up
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/pages/css/style.css" media="screen" type="text/css" />
{% endblock %}


{% block content %}

	<div id="contents">
		<div class="section">
			<h1 align="center">Sign Up for Beta Testing</h1>
			<p>
				If you want to be a beta tester for this app, please fill in this form. We will add you in the list of Beta Testers.
			</p>	
			<form action="/signup" method="post" class="message">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="fieldWrapper">
    			{{ form.name.errors }}
    			<label for="{{ form.name.id_for_label }}"></label>
    			{{ form.name }}
				</div><br />
				<div class="fieldWrapper">
    			{{ form.email.errors }}
    			<label for="{{ form.email.id_for_label }}"></label>
    			{{ form.email }}
				</div><br />
				<div class="fieldWrapper">
   				 {{ form.captcha.errors }}
   				 <label for="{{ form.captcha.id_for_label }}"></label>
   				 {{ form.captcha }}
				</div><br />
				<input type="submit" value="Send"/>
			</form>
		</div>
		<div class="section contact">
			<p>
			   For further details or any query <a href="/contact"> Contact us</a>
			</p>
			<p>
				Or you can visit us at: <span>Innovation Ecosystem<br><span>Ground Floor, Central Block (Opp. Admin Block), NIT Hamirpur, HP-177005</span>
			</p>
		</div>-
	</div>

{% endblock %}
